body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-image:linear-gradient(rgb(151, 184, 245), dodgerblue);
    height: 800px;
}

.blocolateral{
    float: left;
}
.linhah{
    float: left;
}
.linhah button{
    display: block;
}

/*regulação de tamanho*/
.corpo{
    width: fit-content;
    margin: 50px auto;
    background-image: linear-gradient(fuchsia, blueviolet, royalblue);
    height: 500px;
    padding: 20px;
    font-size: 250%;
    border-radius: 10px;
}
.blocolateral button{
    width: 80px;
    height: 80px;
}
#maior{
    width: 160px;
    height: 80px;
}
.linhah button{
    width: 80px;
    height: 80px;
}
#maiorh{
    width: 80px;
    height: 160px;
}
#visor{
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    text-align: right;
}
#barra{
    margin: 0 auto;
    width: fit-content;
}
.clear{
    clear: both;
}

.blocolateral button, #maior, #maiorh, .linhah button{
    background-image: linear-gradient(cornflowerblue, royalblue);
    border: blueviolet solid;
    color: white;
}
.blocolateral button:hover, #maior:hover, #maiorh:hover, .linhah button:hover{
    background-image: linear-gradient(blueviolet, magenta);
    transition: 1s;
}