body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: plum;
}
h1{
    text-align: center;
    color: blueviolet;
}
.codigo{
    text-align: center;
    width: 250px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom right,fuchsia, blueviolet, royalblue);
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: x-large;
}

/*
.codigo{
    text-align: center;
    width: 250px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom right, lightgray, rgb(87, 87, 87), dimgray);
    padding: 20px;
    border-radius: 10px;
    color: white;
    color: ;
    font-size: x-large;
}
*/